:host{
    display: flex;
    flex-direction: column ;
    max-width: 50px;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    .avatar{
        width: 44px;
        height: 44px;
        margin-top:5px;
        border-radius: 50%;
        background: #c7c7c7;
        
    }

    .info{
        
        font-size: 0.5rem;
        strong, small{
            display: block;
            line-height: 22px;
        }
    }
}